/*
    Author: João Pedro Machado Silva - BV3032477 
    Data da Implementação: 17/04/2025
*/

body{
    margin: 0;
    font-family: Arial, sans-serif;
}

/*Estilo por classe: Header*/
.site-header {
    height: 90px;
    background-color: rgb(77, 135, 126);
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Estilo por classe: Container Principal*/
.container {
    display: flex;
    min-height: calc(100vh - 140px) /*100vh(tamanho total) - (header + footer)*/ ;
}

/*Estilo por classe: Navbar Lateral*/
.sidebar-nav {
    width: 200px;
    background-color: rgba(151, 166, 160, 0.636);
    padding: 20px;
}

/*Menu de blocos (ul)*/
.menu-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*Estilo dos links*/
.menu-links li a {
    display: block;
    padding: 12px;
    color: white;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.192);
    margin-bottom: 10px;
    transition: background-color 0.3 ease;
}

/*Hover nos links*/
.menu-links li a:hover {
    background-color: rgba(0, 0, 0, 0.466);
}

/*Estilo por classe: conteúdo principal*/
.main-content {
    flex: 1;
    padding: 20px;
    background-color: white;
}

.conteudo-frame {
    width: 100%;
    height: 100%;
    border: none;
    min-height: 100%;
}

/*Estilização do Rodapé*/
.site-footer {
    height: 50px;
    background-color: rgb(77, 135, 126);
    display: flex;
    align-items: center;
    justify-content: center;
}