/* Leonardo Solovijovas Santos - BV3032485*/

body {
    font-family: Arial, sans-serif;
    background-color: rgb(157, 175, 172);
    text-align: center;
}

.container {
    width: 600px; /* valor fixo */
    margin: 50px auto;
    background-color: rgb(77, 135, 126);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #ccc;
}

input, textarea {
    width: 560px; /* valor fixo compatível com o container (menos padding) */
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #000000;
    border-radius: 4px;
    /* Removido box-sizing para não alterar cálculo da largura */
}
